<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="f370a36d-d284-4dc4-8b95-3f5599eedf92"
            Publisher="CN=Rene"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>WriteableBitmapExSimpleCircleSampleCppWinMD</DisplayName>
    <PublisherDisplayName>Rene</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>WriteableBitmapExSimpleCircleSampleCppWinMD</Description>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="WriteableBitmapExSimpleCircleSampleCppWinMD.App">
        <VisualElements
            DisplayName="WriteableBitmapExSimpleCircleSampleCppWinMD"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="WriteableBitmapExSimpleCircleSampleCppWinMD"
            ForegroundText="light"
            BackgroundColor="#222222">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>